.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    transition: all .3s ease-in-out;
    
    // justify-content: space-evenly;
  }
  //IMPORTANT
  .scrolled{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease-in-out;
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.75);
  }
  .logo img{
    width: 50px;
  }
  .navigation{
      //your navigation styles
  }

  
  .text{
    font-family: 'FreeSans';
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
    color: white;
    margin: 0;
    text-align: center;
  }
  
  .text-white{
    font-family: 'FreeSans';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: rgb(209, 209, 209);
    margin: 0;
    text-align: center;
  }

  .text-black{
    font-family: 'FreeSans';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
  }
